<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>User Matching</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
   <section class="get" id="app1">
      <h1 class="title">User Matching</h1>
      <form class="contact-form row">
         <div class="form-field col x-50">
            <input id="fname" v-model="first_name" class="input-text js-input" type="text" required>
            <label class="label" for="fname">FirstName</label>
         </div>
         <div class="form-field col x-50">
            <input id="lname" v-model="last_name" class="input-text js-input" type="text" required>
            <label class="label" for="lname">Lastname</label>
         </div>
         <div class="form-field col x-100 align-center">
            <input class="submit-btn" @click.prevent="throwData" type="submit">
         </div>
      </form>

      <div v-show="state">
         <h1>Hello</h1>
      </div>
   </section>

<!-- partial -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="./script.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
   var vm = new Vue({
      el: "#app1",
      data() {
         return {
            msg: 'Hello',
            first_name: '',
            last_name: '',
            result: [],
            errors: [],
            percent: 0,
            state: false
         }
      },
      methods: {
         throwData() {
            axios.post('http://localhost:9090/person-service/api/person-request/', {
               first_name: this.first_name,
               last_name: this.last_name
            })
            .then(res => {
               console.log(res);
               console.log(res.data.companyA.length);
               if (res.data.companyA.length == 0 || res.data.companyb.length == 0){
                  this.errors.push("There's no person data in the record.");
                  alert(this.errors);
               }
            })
            .catch(e => {
               console.log(e);
               alert(e);
            })
         },
         fuck(){
            axios.get('http://172.23.0.6:9090/person-service/api/companya-data/')
            .then(res => {
               console.log(res.data);
            })
            .catch(e => {
               console.log(e);
            })
         }
      }
   })
</script>

</body>
</html>