<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>User Matching</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
   <link rel="stylesheet" href="./style.css">
</head>

<body>
   <!-- partial:index.partial.html -->
   <section class="get" id="app1">
      <h1 class="title">User Matching</h1>
      <form class="contact-form row">
         <div class="form-field col x-50">
            <input id="fname" v-model="first_name" class="input-text js-input" type="text" required style="background: #ffffff00">
            <label v-if="first_name === '' " class="label" for="fname" style="color: #00000069; font-family: Raleway, sans-serif;">FirstName </label>
            <label v-else class="label" for="fname"></label>
         </div>
         <div class="form-field col x-50">
            <input id="lname" v-model="last_name" class="input-text js-input" type="text" required style="background: #ffffff00">
            <label v-if="last_name === '' " class="label" for="lname" style="color: #00000069; font-family: Raleway, sans-serif;">Lastname</label>
            <label v-else class="label" for="lname"></label>
         </div>
         <div class="form-field col x-100 align-center">
            <input class="submit-btn" @click.prevent="throwData" type="submit">
         </div>
      </form>
      <br>
      <div v-show="state">
         <div>
            <div class="single-chart">
               <svg viewBox="0 0 36 36" class="circular-chart green">
                  <path class="circle-bg" d="M18 2.0845
                           a 15.9155 15.9155 0 0 1 0 31.831
                           a 15.9155 15.9155 0 0 1 0 -31.831" />
                  <path id="circle" class="circle" stroke-dasharray="60, 100" d="M18 2.0845
                           a 15.9155 15.9155 0 0 1 0 31.831
                           a 15.9155 15.9155 0 0 1 0 -31.831" />
                  <text x="18" y="20.35" class="percentage">{{ animatedNumber }}%</text>
               </svg>
            </div>

            <div class="container">
               <table>
                  <thead>
                     <tr>
                        <th></th>
                        <th>Is Matching?</th>
                        <th>Value</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td style="background-color: #f79054; width: 22.5%">name</td>
                        <td style="width: 20%"><img src="tick.png" style="width: 15px"></td>
                        <td style="width: 20%">{{ temp_fname }}</td>
                     </tr>
                     <tr>
                        <td style="background-color: #f79054; width: 22.5%">surname</td>
                        <td style="width: 20%"><img src="tick.png" style="width: 15px"></td>
                        <td style="width: 20%">{{ temp_lname }}</td>
                     </tr>
                     <tr>
                        <td style="background-color: #f79054; width: 22.5%">email</td>
                        <td style="width: 20%" v-if="email === ''"></td>
                        <td style="width: 20%" v-else><img src="tick.png" style="width: 15px"></td>
                        <td style="width: 20%">{{email}}</td>
                     </tr>
                     <tr>
                        <td style="background-color: #f79054; width: 22.5%">phone</td>
                        <td style="width: 20%" v-if="phone === ''"></td>
                        <td style="width: 20%" v-else><img src="tick.png" style="width: 15px"></td>
                        <td style="width: 20%">{{phone}}</td>
                     </tr>
                     <tr>
                        <td style="background-color: #f79054; width: 22.5%">personal_id</td>
                        <td style="width: 20%" v-if="personal_id === ''"></td>
                        <td style="width: 20%" v-else><img src="tick.png" style="width: 15px"></td>
                        <td style="width: 20%">{{personal_id}}</td>
                     </tr>
                     <tr>
                        <td style="background-color: #f79054; width: 22.5%">address</td>
                        <td style="width: 20%" v-if="address === ''"></td>
                        <td style="width: 20%" v-else><img src="tick.png" style="width: 15px"></td>
                        <td style="width: 20%">{{address}}</td>
                     </tr>
                     <tr>
                        <td style="background-color: #f79054; width: 22.5%">gender</td>
                        <td style="width: 20%" v-if="gender === ''"></td>
                        <td style="width: 20%" v-else><img src="tick.png" style="width: 15px"></td>
                        <td style="width: 20%">{{gender}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>

         </div>
      </div>
      <br><br>
      <div style="text-align: center;">
         <a href="https://github.com/benning55/UserMatching-api"><img src="github.png" alt="github" width="10%"></a>
         <h1>click at github pic to see this project repository.</h1>
      </div>
   </section>

   <!-- partial -->
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
   <script src="./script.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   <script>
      var vm = new Vue({
         el: "#app1",
         data() {
            return {
               msg: 'Hello',
               first_name: '',
               last_name: '',
               result: [],
               errors: [],
               percent: 0,
               state: false,
               percent: 0,
               phone: '',
               email: '',
               personal_id: '',
               address: '',
               gender: '',
               number: 0,
               tweenedNumber: 0,
               temp_fname: '',
               temp_lname:''
            }
         },

         methods: {
            getPersonData() {
               axios.post('http://35.198.248.75:8000/api/get-person/', {
                  first_name: this.first_name,
                  last_name: this.last_name
               })
                  .then(res => {
                     console.log(res.data);
                     console.log(res.data[0]['percent']);
                     this.state = true;
                     let per = res.data[0]['percent'];
                     this.percent = parseFloat(per);
                     this.number = parseFloat(per);
                     this.email = res.data[0]['email'];
                     this.phone = res.data[0]['Phone'];
                     this.personal_id = res.data[0]['personal_id'];
                     this.gender = res.data[0]['gender'];
                     this.address = res.data[0]['address'];
                     this.temp_fname = res.data[0]['name'];
                     this.temp_lname = res.data[0]['surname'];

                     let temp = String(parseFloat(res.data[0]['percent'])) + ", 100"
                     document.getElementById('circle').setAttribute('stroke-dasharray', temp);

                  },

                  )
                  .catch(e => {
                     console.log(e);
                  })
            },
            throwData() {
               axios.post('http://35.198.248.75:8000/api/person-request/', {
                  first_name: this.first_name,
                  last_name: this.last_name
               })
                  .then(res => {
                     console.log(res);
                     this.getPersonData();
                  })
                  .catch(e => {
                     console.log(e);
                     Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'There is no data of this person here.',
                     })
                  }),


                  document.getElementById('circle').setAttribute('stroke-dasharray', "20, 100");
            },
         },
         computed: {
            animatedNumber: function () {
               return this.tweenedNumber.toFixed(0);
            }
         },
         watch: {
            number: function (newValue) {
               TweenLite.to(this.$data, 0.5, {
                  tweenedNumber: newValue
               })
            }
         },
      })
   </script>

</body>

</html>